@model List<JobPost>
@{
    ViewData["Title"] = "Deine Inserate";
}
<a class="btn btn-primary" asp-controller="JobPost" asp-action="CreateEditJobPost">Neues Inserat anlegen</a>

<table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Job Title</th>
            <th>Ort</th>
            <th>Firma Name</th>
            <th>Aktionen</th>
        </tr>

    </thead>
    <tbody>
        @{
            foreach (JobPost job in Model)
            {
                <tr>
                    <td>@job.JobTitle</td>
                    <td>@job.JobLocation</td>
                    <td>@job.CompanyName</td>
                    <td>
                        <a asp-route-id="@job.Id" class="btn btn-warning" asp-controller="JobPost" asp-action="CreateEditJobPost">Edit</a>
                        <a asp-route-id="@job.Id" class="btn btn-danger" asp-controller="JobPost" asp-action="DeleteJobPost">Delete</a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>